<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/Style.css">
    <title>No encontrado</title>
</head>
<body>
    <div class="pagina">
        <img src="/images/404.png" class="img404">
        <h1 class="texto404">¡Lo sentimos, la página que estas intentando buscar, no existe!</h1>
        <!-- Div para regresar a la página de login -->
        <div id="regresar404">
            <a href="./" class="regresar">Regresar</a>
        </div>
    </div>
</body>
</html>