<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/Style.css">
    <title>Registro</title>
  </head>
  <body>
      <div class="barranegra">
        <h1 class="titulo">ExpressChat</h1>
      </div>
      <!-- Validación para saber si el registro fue correcto -->
      <% if(validacion === 'C'){ %>
        <div class="valido">¡El usuario a sido registrado correctamente!</div>
      <!-- Validación para saber si el registro fue incorrecto -->
      <% }else if(validacion === 'I'){ %>
        <div class="novalido">¡Error al registrar el usuario, porfavor revisa los datos proporcionados!</div>
      <% }; %>
      <div id="is_registro">
        <div>
          <h1>Registro</h1>
        </div>
        <!-- Inputs para mandar y registrar a un nuevo usuario dentro de la base de datos -->
        <form action="/registro" method="post">
          <label for="">Ingrese el Nombre:</label><br>
          <input type="text" name="nombre" size="10" placeholder="Nombre" required><br>
          <label for="">Ingrese el Correo:</label><br>
          <input type="email" name="correo" size="10" placeholder="Correo" required><br>
          <label for="">Ingrese la Contraseña:</label><br>
          <input type="password" name="contrasena" size="10" placeholder="Contraseña" required><br>
          <input type="submit" value="Registrar"><br>
          <!-- Redireccionamiento a la página de login -->
          <a href="./">¿Ya tienes una cuenta? ¡Ingresa para chatear!</a>
        </form>
      </div>
  </body>
</html>