/* General */
*{ 
    padding: 0%; 
    margin: 0%;
}
@font-face{
    font-family: "Letra Recta";
    src: url("../fonts/Goodtimes.ttf");
}
@font-face{
    font-family: "Letra Redondeada";
    src: url("../fonts/KGRedHands.ttf");
}
@font-face{
    font-family: "Letra Rayada";
    src: url("../fonts/Nuvel.ttf");
}
@font-face{
    font-family: "Letra Normal";
    src: url("../fonts/UbuntuCondensed.ttf");
}
#is_login{
    width: 40%;
    background-color: #0EF4EF;
    margin-left: 28%;
    margin-top: 5.3%;
    padding: 2%;
    text-align: center;
    border: 2px solid black;
    border-radius: 1%;
}
#is_registro{
    width: 40%;
    z-index: 10;
    background-color: #0EF4EF;
    margin: 3.8% 28%;
    padding: 2%;
    text-align: center;
    border: 2px solid black;
    border-radius: 1%;
}
h1{
    font-family: "Letra Recta";
    padding: 0 0 3% 0;
}
input[type=email], input[type=password], input[type=text]{
    width: 60%;
    padding: 2.5% 3%;
    margin: 1% 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid black;
    font-size: larger;
    font-family: "Letra Redondeada";
    text-align: center;
    outline: none;
}
input[type=submit]{
    width: 60%;
    padding: 12px 20px;
    margin: 4% 0 5% 0;
    box-sizing: border-box;
    border-radius: 30px;
    border: 2px solid black;
    color: white;
    background-color: blue;
    font-size: x-large;
    font-family: "Letra Redondeada";
    cursor: pointer;
}
input[type=submit]:hover{
    color: black;
    background-color: #FF82A2;
}
input[type=submit]:active{
    color: black;
    background-color: whitesmoke;
}
a{
    width: 100%;
    color: blue;
    font-size: large;
    font-family: "Letra Redondeada";
    text-decoration: none;
}
a:hover{
    color: #FF82A2;
}
a:active{
    color: whitesmoke;
}
label{
    color: black;
    font-size: 25px;
    font-family: "Letra Normal";
}
body{
    background-color: #91D9F5;
    height: 100%;
}
.valido{
    background-color: #2ecc71;
    width: 80%;
    height: 5vh;
    margin: 1.2% 10% -2.5% 10%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: "Letra Recta";
}
.novalido{
    background-color: #e74c3c;
    width: 80%;
    height: 5vh;
    margin: 1.2% 10% -2.5% 10%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: "Letra Recta";
}
.barranegra{
    width: 100%;
    height: 8vh;
    background-color: black;
}
.titulo{
    width: 60%;
    margin: 0 20% 0 20%;
    color: whitesmoke;
    text-align: center;
    padding: 1%;
    font-size: x-large;
    box-sizing: border-box;
    float: left;
}
/* Chats */
::-webkit-scrollbar{
    display: none;
}
.todo{
    width: 100%;
    height: 100vh;
}
#chats{
    background-color: #00E5D0;
    width: 30%;
    height: 100%;
    text-align: center;
    border: 2px solid black;
    float: left;
    box-sizing: border-box;
}
#conversacion{
    background-color: #B2EAFF;
    width: 70%;
    height: 100%;
    text-align: center;
    border: 2px solid black;
    float: left;
    box-sizing: border-box;
}
#buscador{
    background-color: blue;
    border: 2px solid black;
    width: 90%;
    height: 12%;
    margin-left: 4.5%;
    margin-top: 5%;
    border-radius: 10px;
}
#barraBuscar{
    width: 60%;
    height: 7.5vh;
    margin: 4.3% 0 0 12%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
    float: left;
}
#botonBuscar{
    float: left;
    border: 2px solid black;
    border-radius: 50%;
    width: 15%;
    height: 7.5vh;
    margin: -1% 0 0 5%;
    box-sizing: border-box;
}
#botonBuscar:hover{
    background-color: #FF82A2;
}
#botonBuscar:active{
    background-color: blue;
}
.image{
    width: 50%;
    height: 50%;
}
#usuarios{
    background-color: white;
    border: 2px solid black;
    width: 80%;
    height: 7vh;
    margin: 5% 10% 0 10%;
    border-radius: 10px;
    font-size: x-large;
    font-weight: 600;
    font-family: "Letra Normal";
    letter-spacing: 0.5px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
#usuarios:hover{
    background-color: #FF82A2;
}
#usuarios:active{
    background-color: blue;
    color: whitesmoke;
}
#usuarios2{
    background-color: #99EFED;
    border: 2px solid black;
    width: 80%;
    height: 13vh;
    margin: 0 10% 5% 10%;
    border-radius: 10px;
    font-size: x-large;
    font-weight: 600;
    font-family: "Letra Normal";
    letter-spacing: 0.5px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1%;
    display: flex;
    align-items: center;
    word-wrap: break-word;
}
#usuarios2:hover{
    background-color: #FF82A2;
}
#usuarios2:active{
    background-color: whitesmoke;
}
#scroll{
    background-color: #c3efff;
    width: 100%;
    height: 77.4%;
    padding-bottom: 2%;
    position: static;
    overflow: scroll;
    box-sizing: border-box;
    border-right: 2px solid black;
}
#scroll2{
    width: 100%;
    height: 73%;
    position: static;
    top: 10%;
    overflow: scroll;
}
#scroll3{
    width: 100%;
    height: 55.5%;
    position: static;
    overflow: scroll;
}
#result{
    width: 100%;
    height: 5.5vh;
    text-align: center;
    font-size: medium;
    font-family: "Letra Recta";
    color: black;
    margin: 5% 0 5% 0;
    letter-spacing: 1px;
    box-sizing: border-box;
    float: left;
    word-break: break-all;
    padding: 0% 7%;
}
#regresar{
    background-color: blue;
    border: 2px solid black;
    font-family: "Letra Recta";
    margin: 3% 10% 8% 10%;
    width: 80%;
    height: 6vh;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 30px;
}
#regresar:hover{
    background-color: #FF82A2;
}
#regresar:active{
    background: whitesmoke;
}
.regresar{
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 1px;
}
.regresar:hover{
    color: black;
}
.regresar:active{
    color: black;
}
#regresar2{
    background-color: blue;
    border: 2px solid black;
    font-family: "Letra Recta";
    margin: 3% 10% 0% 10%;
    width: 80%;
    height: 6vh;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    display: flex;
    float: left;
    box-sizing: border-box;
    align-items: center;
    border-radius: 30px;
}
#regresar2:hover{
    background-color: #FF82A2;
}
#regresar2:active{
    background: whitesmoke;
}
/* Mensajes */
.nombreConversacion{
    width: 100%;
    height: 8%;
    box-sizing: border-box;
    background-color: #FF2A74;
    border-right: 2px solid black;
}
.mensajePropio{
    width: 85%;
    height: auto;
    padding: 2% 4%;
    margin: 2% 2% 0 0;
    text-align: left;
    border-radius: 10px;
    justify-content: center;
    background-color: #FF82A2;
    font-family: "Letra Normal";
    font-size: larger;
    float: right;
    position: relative;
    z-index: 2;
}
.esqPropio{
    transform: rotate(63deg);
    z-index: 1;
    margin: -8% -0.85% 0 0;
    position: relative;
    float: right;
    border-left: 100px solid #FF82A2;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
}
.mensajeOtro{
    width: 85%;
    height: auto;
    padding: 2% 4%;
    margin: 2% 0 0 2%;
    border-radius: 10px;
    text-align: left;
    justify-content: center;
    background-color: #00E4E7;
    font-family: "Letra Normal";
    font-size: larger;
    float: left;
    position: relative;
    z-index: 2;
}
.esqOtro{
    transform: rotate(116deg);
    z-index: 1;
    margin: -8% 0 0 -0.8%;
    position: relative;
    float: left;
    border-left: 100px solid #00E4E7;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
}
.imageMas{
    width: 100%;
    height: 100%;
}
.imageMas:hover{
    filter: invert(1);
}
.usuarioMensaje{
    width: 94%;
    padding: 1%;
    margin: 0 0% -2% 0;
    color: whitesmoke;
    font-family: 'Letra Recta';
    font-size: medium;
    word-break: break-all;
    letter-spacing: 1px;
    box-sizing: border-box;
    position: relative;
    float: left;
}
.textoMensaje{
    padding: 1%;
    width: 95%;
    height: auto;
    margin: -1% 0 0 0;
    color: black;
    font-family: 'Letra Normal';
    font-size: larger;
    letter-spacing: 1px;
    box-sizing: border-box;
    position: relative;
    float: left;
    word-break: break-all;
}
.fechaMensaje{
    width: 100%;
    padding: 1%;
    margin: 0 0 -1% 0;
    color: whitesmoke;
    font-family: 'Letra Redondeada';
    font-size: small;
    letter-spacing: 1px;
    box-sizing: border-box;
    position: relative;
    float: left;
    text-align: right;
}
.escribirMensaje{ 
    box-sizing: border-box;
    width: 100%;
    height: 14.8vh;
    padding: 2%;
    margin-top: -1.9%;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    background-color: #c3efff;
}
.escribirMensajeInput{
    width: 80% !important;
    padding: 1.5% !important;
}
.enviarMensaje{
    width: 15% !important;
    margin: 1.5% 1% !important;
    text-align: center;
}
.botonEnviar{
    background-color: #FF2A74;
    cursor: pointer;
    float: right;
    border: 0px solid black;
    border-radius: 50%;
    width: 8%;
    height: 10vh;
    margin: 0 4% 0 0;
    box-sizing: border-box;
}
.botonEnviar:hover{
    background-color: blue;
}
.botonEnviar:active{
    background-color: whitesmoke;
}
.imageEnviar{
    width: 50%;
    height: 50%;
    margin: 10% 0 0 0;
    filter: invert(1);
}
.imageEnviar:active{
    filter: invert(0);
}
/* Crear Chats */
#grupo{
    width: 70%;
    height: 100vh;
    text-align: center;
    padding: 5%;
    display: block;
    float: left;
    box-sizing: border-box;
    border: 2px solid black;
    z-index: 1;
}
.tituloGrupo{
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin: 15% 0 0 0;
}
.textoGrupo{
    width: 100%;
    float: left;
    box-sizing: border-box;
}
.crearGrupo{
    float: left;
    box-sizing: border-box;
    width: 70% !important;
    margin: 2% 15% 0 15% !important;
}
.inputGrupo{
    width: 70% !important;
    margin: 3% 15% 0 15% !important;
    float: left;
    box-sizing: border-box;
}
/* Error 404 */
.pagina{
    width: 100%;
    height: 100%;
    background-color: #91D9F5;
}
.img404{
    width: 40%;
    margin: -2% 30% -8% 30%;
}
.texto404{
    text-align: center;
    font-size: x-large;
}
#regresar404{
    height: 8vh;
    width: 40%;
    margin: 0 30% 0 30%;
    background-color: blue;
    border: 2px solid black;
    font-family: "Letra Recta";
    cursor: pointer;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 30px;
}
#regresar404:hover{
    background-color: #FF82A2;
}
#regresar404:active{
    background: whitesmoke;
}
/* Menú Modificar y Eliminar */
#menu{
    width: 5%;
    height: 10vh;
    float: right;
    position: relative;
    box-sizing: border-box;
    border: 0px solid black;
    background-color: transparent;
    cursor: pointer;
}
#menu ul{
    background-color: whitesmoke;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul a{
    display: block;
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    font-family: 'Letra Recta';
    letter-spacing: 1px;
}
#menu ul li{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
#menu ul ul{
    display: none;
    position: absolute;
    top: 70%;
    right: 0;
    padding: 0;
    z-index: 3;
}
#menu ul ul li{
    float: none;
    width: 140px
}
#menu ul ul a{
    line-height: 100%;
    padding: 10px 15px;
}
#menu ul ul ul{
    display: none;
    position: absolute;
    top: 0%;
    right: 100%;
    padding: 0;
    z-index: 4;
}
#menu ul ul ul li{
    float: none;
    width: 300px;
    padding: 10px;
}
#menu ul li:hover > ul{
    display: block;
}
#menu ul li ul li:hover{
    background: rgb(192, 192, 192);
}
#menu ul li ul li ul li:hover{
    background: whitesmoke;
}
#menu ul li ul li ul li:active{
    background: whitesmoke;
}
#menu ul li ul li:active{
    background: black;
}
#menu ul li ul li a:active{
    color: whitesmoke;
}
.botonModificar{
    background-color: #FF2A74;
    cursor: pointer;
    float: right;
    border: 0px solid black;
    border-radius: 50%;
    width: 12%;
    height: 5vh;
    margin: 0.7% 1% 0 -20%;
    box-sizing: border-box;
}
.botonModificar:hover{
    background-color: blue;
}
.botonModificar:active{
    background-color: whitesmoke;
}
.inputModificar{
    padding: 15px !important;
    font-family: 'Letra Redondeada' !important;
    font-size: x-small !important;
    height: 4vh !important;
    width: 80% !important;
    margin: 1% 0 0 0 !important;
}
/* Administrador */
.nomEmailBusqueda{
    width: 100%;
    float: left;
    text-align: center;
    word-wrap: break-word;
    box-sizing: border-box;
}
.derecha{
    right: 0% !important;
    display: none;
    position: absolute;
    top: 70%;
    padding: 0;
    z-index: 3;
}
.botonAdminBusqueda{
    float: right;
    height: 3.5vh !important;
    box-sizing: border-box;
    width: 5% !important;
    margin: -24.5% 13.5% 0 0 !important;
    width: 10%;
}
.botonAdmin{
    float: right;
    height: 7.6vh !important;
    box-sizing: border-box;
    width: 5% !important;
    margin: -4.8% 5% 0 0 !important;
    width: 10%;
}
.imageAdmin{
    width: 100%;
    height: 100%;
}
.imageAdmin:hover{
    filter: invert(1);
}
#menu2{
    width: 100%;
    height: 100%;
    float: right;
    position: relative;
    box-sizing: border-box;
    border: 0px solid black;
    background-color: transparent;
    cursor: pointer;
}
#menu2 ul{
    background-color: whitesmoke;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu2 ul a{
    display: block;
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    font-family: 'Letra Recta';
    letter-spacing: 1px;
}
#menu2 ul li{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
#menu2 ul ul{
    display: none;
    position: absolute;
    top: 70%;
    right: 0;
    padding: 0;
    z-index: 3;
}
#menu2 ul ul li{
    float: none;
    width: 140px;
    text-align: left !important;
}
#menu2 ul ul a{
    line-height: 100%;
    padding: 10px 15px;
}
#menu2 ul ul ul{
    display: none;
    position: absolute;
    top: 0%;
    right: 100%;
    padding: 0;
    z-index: 4;
}
#menu2 ul ul ul li{
    float: none;
    width: 300px;
    padding: 10px;
}
#menu2 ul li:hover > ul{
    display: block;
}
#menu2 ul li ul li:hover{
    background: rgb(192, 192, 192);
}
#menu2 ul li ul li ul li:hover{
    background: whitesmoke;
}
#menu2 ul li ul li ul li:active{
    background: whitesmoke;
}
#menu2 ul li ul li:active{
    background: black;
}
#menu2 ul li ul li a:active{
    color: whitesmoke;
}
.regresarGrupo{
    width: 98% !important;
    text-decoration: none;
    color: whitesmoke;
    padding: 1% 35%;
}
.regresarGrupo:hover{
    color: black;
}
.regresarGrupo:active{
    color: black;
}
/* Agregar Usuario */
.tituloAgregar{
    background-color: #FF2A74;
    color: whitesmoke;
    padding: 2%;
    width: 100%;
    height: 3vh;
    margin: 0 0 3% 0;
    text-align: center;
    word-break: break-all;
    font-size: larger;
    letter-spacing: 1px;
}
.usuarioAgregar{
    background-color: #99EFED;
    border: 2px solid black;
    width: 70%;
    height: auto;
    margin: 0 15% 3% 15%;
    border-radius: 10px;
    font-size: x-large;
    font-weight: 600;
    font-family: "Letra Normal";
    letter-spacing: 0.5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}
.usuarioAgregar2{
    width: 70%;
    height: 100%;
    box-sizing: border-box;
}
.botonAgregar{
    width: 100%;
    height: 100%;
    background-color: blue;
    color: whitesmoke;
    font-family: 'Letra Redondeada';
    font-size: large;
    padding: 10% 20%;
    border: 2px solid black;
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
}
.botonAgregar:hover{
    background-color: #FF82A2;
    color: black;
}
.botonAgregar:active{
    color: black;
    background-color: whitesmoke;
}
.agregar{
    width: 15%;
    height: 40%;
}
.textoAgregar{
    width: 100%;
    padding: 2%;
    margin: 1% 0;
    font-size: large;
    font-family: 'Letra Recta';
    box-sizing: border-box;
    letter-spacing: 1px;
    word-break: break-all;
}
.regresar3{
    width: 50%;
    height: 3vh;
    margin: 0 25% 2% 25%;
    padding: 1%;
    background-color: blue;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
}
.regresar3:hover{
    color: black;
    background-color: #FF82A2;
}
.regresar3:active{
    color: black;
    background-color: whitesmoke;
}